<%- include("./header.ejs") %>
<link rel="stylesheet" href="/stylesheet/about.css">
<body>

    <div class="bgimg-1">
      <div class="caption">
      <span class="border">WELCOME TO EL CHICO</span>
      </div>
    </div>
    
    <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
      <h3 style="text-align:center;">ABOUT US</h3>
      <p>You know how there is always a place you want to go. And everything seems better and more lovely and the food is great and comfortable. And attention to detail remains. And there is always a familiar face calling you by name. After over five decades, El Chico is that place in Allahabad. The must haves list is a little long: tomato fish, the dum aaloo, the shammis (oh my God) the best plum cake in the world… a multi speciality restaurant which has really stood the test of time. Enjoy a little bit of Alld History here.Allahabads's oldest freestanding restaurant. A local favorite for 83+ years. Featuring our famous DeAngelis spaghetti sauces and our famous Upside Down pizza. 
        Homemade, delicious Italian dishes, featuring seafood, steaks, and pasta. Full pub menu and sandwich selection. Full menu offered all day and late night. Full bar with entertainment on weekends. Home to the stars, cast parties and celebrities from all around city.
         Conveniently located on Mahatma Gandhi Marg, Civil Lines, Prayagraj,</p>
    </div>
    
    <div class="bgimg-2">
      <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">OUR HISTORY</span>
      </div>
    </div>
    
    <div style="position:relative;">
      <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>“El Chico is like home, and it has been like that since I was young and came here with my father. Nothing has changed since — the menu, the staff, the food, and most importantly, the feeling of being home,” SK Srivastava, a senior advocate in the Allahabad High Court and a regular at El Chico for over 40 years, tells us passionately.
        Incidentally, most of the regulars here are either senior advocates or judges from the High Court. Others include administrative officers, doctors and lecturers from the Allahabad University.
        “There was a time when everyone who came to El Chico knew one another. They, of course, knew uncle (Ganesh Rai). The menu was completely English and candlelight dinners were the order of the evening. There was music and dance too. Waiters knew exactly what everyone wanted; chefs knew exactly how they liked it. It was like sitting in a large drawing room among friends and family and having a ball, quite literally,” says Mohit, who manages the day-to-day operations.
        From a café that opened in a shed to serve coffee and sandwiches, El Chico soon went on to become a full-fledged restaurant. Today, it has over 150 items on the menu, that range from Continental and Chinese to Indian. Then there is an entire section dedicated to desserts and beverages. Presumably, El Chico was the first — and the only place — to serve Continental food in Allahabad.</p>
      </div>
    </div>
    
    <div class="bgimg-3">
      <div class="caption">
      <span class="border" style="background-color:transparent;font-size:25px;color: hsl(0, 0%, 97%);">CONTACT & LOCATION</span>
      </div>
    </div>
    
    <div style="position:relative;">
      <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p>24, 28, Mahatma Gandhi Marg, Civil Lines, Prayagraj, Uttar Pradesh 211001</p>
      <p>Phone No: 9415128975</p>
      </div>
    </div>
    
    <div class="bgimg-1">
      <div class="caption">
      <span class="border">THANK YOU!!</span>
      </div>
    </div>
    
    
    </body>
<%- include("./footer.ejs") %>