
<%- include("./header.ejs") %>
<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                <h1 class="a">MUSEUM<span>/</span>OF<span>/</span>DISHES</h1>
                <h1 class="a">MUSEUM<span>/</span>OF<span>/</span>DISHES</h1>
                <h1 class="a">MUSEUM<span>/</span>OF<span>/</span>DISHES</h1>
                <h1 class="a">MUSEUM<span>/</span>OF<span>/</span>DISHES</h1>
                
            </div>
        </div>
        <div class="col-lg-6" style="padding: 0mm;">
            <img class="img-fluid"  src="https://images.unsplash.com/photo-1611599537845-1c7aca0091c0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZGlzaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
    </div>
</section>

<section class="container-fluid px-0">
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
            <img style="width: 100%;"src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>Mozzarella & Salami Baguette</h2>
                    <img src="/resources/lolli_icon.png" alt="" class="d-none d-lg-inline">
                    <p class="lead">Thrilling fillings and tasty toppings for your bread, wraps, baps and buns.
                         Our next level sarnies include classic club sandwiches, baguettes and picnic favourites.A perfect sandwich for a summer picnic. Filled with salami, spinach, basil, pesto and mozzarella,
                         it has all the flavours of Italy that kids and grownups will enjoy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>SALAVOURY SHAKES</h2>
                    <img src="/resources//lolli_icon.png" alt="" class="d-none d-lg-inline">
                    <p class="lead">Sweet, savory, stuffed and sauced: Types of pancakes are as diverse as the stamps in our passports. With so many flavors and kinds out there, trying them all is giving us the perfect reason to want to hop on a plane. Whether you like yours topped with butter and syrup, rolled up with ham and cheese or dipped in soy sauce, there’s a pancake for every palate.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1577805947697-89e18249d767?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2hha2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
            <img src="https://images.unsplash.com/photo-1574936145840-28808d77a0b6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>LOCATION</h2>
                    <img src="/resources/lolli_icon.png" alt="" class="d-none d-lg-inline">
                    <p class="lead">24, 28, Mahatma Gandhi Marg, Civil Lines, Prayagraj, Uttar Pradesh 211001</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("./footer.ejs") %>