<%- include("./header.ejs") %>
<link rel="stylesheet" href="\stylesheet\landingmain.css">

<div class="content">
    <p id="big"><i class="fas fa-quote-left"></i>  El Chico  <i class="fas fa-quote-right"></i></p>
    <p id="font">---We speak the good food language---</p>
    
</div>
<%- include("./footer.ejs") %>