<%- include("./header.ejs") %>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<style>
body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}
</style>
<div class="container text-center" style="margin:0,auto;margin-top:10%;">
    <div class="jumbotron">
      <h2 style= "font-family: Nunito;">LOGIN TO CONTINUE</h2>
      <h4 style= "font-family: Nunito;"><a href="/userregister">NOT A USER? CLICK HERE TO SIGN UP</a></h4>
    </div>
<form action="/userlogin" method="POST">
    <div class="ui main text container segment">
        
        <form class="ui form">
            <div class=field>
                <label for="name">USERNAME :</label>
                <input type="text" placeholder="username" name="username">
            </div>
            <div class=field>
                <label for="querry">PASSWORD:</label>
                <input type="password" placeholder="password" name="password">
               </div>
              
            <input class="ui violet inverted button"type="submit">
        </form>
    </div>
</div>
    
    
    
</form>
<%- include("./footer.ejs") %>
